html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 40px;
  }
}

.logo__image {
  display: block;
  margin: 0 auto;
}

.navigation {
  flex: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .menu {
    margin: 0;
    justify-content: flex-end;
  }
}
.menu__item {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .menu__item {
    flex: 0 0 auto;
  }
}
.menu__link {
  display: block;
  color: #F03000;
  text-decoration: none;
  text-align: center;
  padding: 20px;
}
.menu__link:hover, .menu__link:focus {
  background-color: #F03000;
  color: white;
}

.offers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(240px, auto) minmax(150px, auto) minmax(150px, auto);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .offers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 180px 180px;
  }
}
@media screen and (min-width: 1200px) {
  .offers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px;
  }
}

@media screen and (min-width: 768px) {
  .offer--big {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
  }
}
@media screen and (min-width: 1200px) {
  .offer--big {
    grid-column: 1/span 2;
  }
}

@media screen and (min-width: 1200px) {
  .offer--big2 {
    grid-column: 2/span 2;
  }
}

.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__price {
  background-color: #F03000;
  color: white;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  font-weight: 400;
  align-self: self-start;
}

.offer__text {
  color: white;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.062745098) 0%, rgba(0, 0, 0, 0.5019607843) 100%);
  padding: 20px;
}

.offer__heading,
.offer__description {
  margin: 0;
  padding: 0;
}

.offer__heading {
  font-size: 20px;
  font-weight: 600;
}

.offer__heading--big {
  font-size: 28px;
}

.offer__description {
  font-family: "Open Sans", sans-serif;
}

.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: #F0F0F0;
  padding: 20px;
  display: grid;
  grid-template-columns: 74px 1fr;
}
@media screen and (min-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.card__icon {
  margin-right: 20px;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .card__icon {
    margin-right: 0;
  }
}

.card__heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #F03000;
}
@media screen and (min-width: 768px) {
  .card__heading {
    text-align: center;
  }
}

.card__description {
  margin: 0;
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .card__description {
    text-align: center;
  }
}

.heading {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
}

.articles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  background-color: #F0F0F0;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.article__date {
  color: #888888;
}

.article__heading {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #F03000;
}

.article__description {
  margin: 0;
  padding: 0;
}

.site-footer {
  margin-top: 40px;
  background-color: #444444;
  color: white;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */