$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #F03000;
$card-background: #F0F0F0;
$date-color: #888888;
$footer-background: #444444;
$background-gradient: linear-gradient(180deg, #00000010 0%, #00000080 100%);
$spacing: 20px;
$spacing-double: $spacing * 2;
$spacing-half: $spacing / 2;

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing;
}

.site-header {
    padding-top: $spacing-double;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: $spacing;
        padding-bottom: $spacing-double;
    }
}

.logo__image {
    display: block;
    margin: 0 auto;
}

.navigation {
    flex: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: $spacing;
    @media screen and (min-width: 768px) {
        margin: 0;
        justify-content: flex-end;
    }
    &__item {
        flex: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (min-width: 768px) {
            flex: 0 0 auto;
        }
    }
    &__link {
        display: block;
        color: $primary-color;
        text-decoration: none;
        text-align: center;
        padding: $spacing;
        &:hover,
        &:focus {
            background-color: $primary-color;
            color: white;
        }
    }
}

.offers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(240px, auto) minmax(150px, auto) minmax(150px, auto);
    gap: $spacing;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px 180px;
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px 180px;
    }
}

.offer--big {
    @media screen and (min-width: 768px) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    @media screen and (min-width: 1200px) {
        grid-column: 1 / span 2;
    }
}

.offer--big2 {
       @media screen and (min-width: 1200px) {
        grid-column: 2 / span 2;
    }
}

.offer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.offer__price {
    background-color: $primary-color;
    color: white;
    padding: $spacing-half;
    margin: $spacing;
    font-size: 18px;
    font-weight: 400;
    align-self: self-start;
}

.offer__text {
    color: white;
    background-image: $background-gradient;
    padding: $spacing;
}

.offer__heading,
.offer__description {
    margin: 0;
    padding: 0;
}

.offer__heading {
    font-size: 20px;
    font-weight: 600;
}
.offer__heading--big {
    font-size: 28px;
}

.offer__heading-link {
    color: white;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $primary-color;
    }
}

.offer__description {
    font-family: $secondary-font;
}

.cards {
    margin-top: $spacing-double;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-half;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: $spacing;
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background-color: $card-background;
    padding: $spacing;
    display: grid;
    grid-template-columns: 74px 1fr;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr;
        gap: $spacing;
    }
}

.card__icon {
    margin-right: $spacing;
    justify-self: center;
    @media screen and (min-width: 768px) {
        margin-right: 0;
    }
}

.card__heading {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: $primary-color;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    
}

.card__description {
    margin: 0;
    padding-top: $spacing-half;
    font-family: $secondary-font;
    @media screen and (min-width: 768px) {
        text-align: center;
        paddind-top: $spacing;
    }
}

.heading {
    margin-top: $spacing-double;
    font-size: 24px;
    font-weight: 600;
}

.articles {
    margin-top: $spacing;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing;
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.article {
    background-color: $card-background;
    padding: $spacing;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-half;
}

.article__date {
    color: $date-color
}

.article__heading {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: $primary-color;
}

.article__description {
    margin: 0;
    padding: 0;
}

.site-footer {
    margin-top: $spacing-double;
    background-color: $footer-background;
    color: white;
    padding: $spacing;
    text-align: center;   
}

/* destination page */
.site-header--destinations {
    padding-bottom: $spacing;
    border-bottom: 2px solid $primary-color;
}

.main-heading {
    font-size: 36px;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
    padding: 0;
}

.smaller-heading {
    font-size: 24px;
    font-weight: 600;
    margin: $spacing 0;
}

.text__paragraph {
    font-family: $secondary-font;
    margin: $spacing 0 0 0;
}

.text__image {
    width: 100%;
    margin: $spacing 0;
}

.text {
    margin-top: $spacing-double;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: $spacing;
        align-items: baseline;
        .offers {
            display:block;
        }
        .offer {
            margin-bottom: $spacing;
        }
    }
}

/* offer page */

.offer--big-offer {
    min-height: 240px;
    .offer__price {
        visibility: hidden;
    }
    @media screen and (min-width: 768px) {
        min-height: 360px;
        .offer__heading--big {
            font-size: 48px;
        }
        .offer__description {
            font-size: 20px;
        }
    }
}

.gallery {
    margin-top: $spacing-double;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery__image {
    max-width: 100%;
}

.tags {
    margin-top: $spacing-double;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing;
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr;
        margin: 0;
    }
}

.tag {
    background-color: $card-background;
    padding: $spacing;
    font-family: $secondary-font;
}

.tag--price {
    background-color: $primary-color;
    color: white;
}

@media screen and (min-width: 1200px) {
    .offer-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0 $spacing;
        .offer {
            grid-column: 1 / 2;
        }
        .text {
            grid-column: 1 / 2;
            margin-top: $spacing;
        }
    }
}

.tag__heading {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $date-color;
}

.tag__heading--price {
    color: white;
}

.tag__text {
    margin: 0;
    padding: 0;
}

.tag__text--price {
    font-weight: 700;
    font-size: 28px;
}






